@page "/"
@using Data

<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Registro de personas, para ponerse la bacuna</h1>
                <h2>Esta es una página, la cuál está encargada de registrar personas, que recibirán su primera y segunda dosis de vacuna. También está encargada de consultar los mismo y poder filtrarlos de manera, en la cuál el usuario pueda saber y filtrar a sus pacientes.</h2>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>

<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
                <img src="assets/img/vacuna vertical.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Definición COVID-19</h3>
                <p>La COVID-19 afecta de distintas maneras en función de cada persona. La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, y se recuperan sin necesidad de hospitalización.</p>

                <div class="icon-box">
                    <h4>Los síntomas más habituales son los siguientes:</h4>
                    <ul>
                        <li>Fiebre</li>
                        <li>Tos seca</li>
                        <li>Cansancio</li>
                    </ul>
                </div>

                <div class="icon-box">
                    <h4>Otros síntomas menos comunes son los siguientes:</h4>
                    <ul>
                        <li>Molestias y dolores</li>
                        <li>Dolor de garganta</li>
                        <li>Diarrea</li>
                        <li>Conjuntivitis</li>
                        <li>Dolor de cabeza</li>
                    </ul>
                </div>

                <div class="icon-box">
                    <h4>Persistencia en superficies:</h4>
                    <ul>
                        <li>Papel y pañuelos de papel**: 3 horas</li>
                        <li>Cobre*: 4 horas</li>
                        <li>Cartón*: 24 horas</li>
                        <li>Madera**: 2 días</li>
                        <li>Tela**: 2 días</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>

@code {

}
