

<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <center>
        <a href=""><i class="material-icons">home</i><span class="icon-text">Home</span></a><br />
    </center>
    <a href="RegistrarVacuna"><i class="material-icons">add_circle_outline</i><span class="icon-text">Reg. Vacun.</span></a><br />
    <a href="ConsultaVacunados"><i class="material-icons">list_alt</i><span class="icon-text">List. Vacun.</span></a><br>
    <a href="AnularRegistro"><i class="material-icons">person_remove</i><span class="icon-text">Anu. Reg.</span></a>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
